@model IEnumerable<ProductCRUD.CLIENT.Models.ProductModel>

@{
    ViewData["Title"] = "Home Page";
}

<h1>Index</h1>

@if (Model == null || !Model.Any())
{
    <p>No products found.</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.First().name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().isAvailable)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.isAvailable)
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
